$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;

$icon-font-path: "../vendor/bootstrap/3.2.0/fonts/";

@import "../vendor/bootstrap/3.2.0/scss/bootstrap";

body {
	padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}
a,
a:hover,
a:focus {
	color: #1aa7c7;
}

.navbar-avisota {
	border-top: 1px solid #57dff5;
	border-bottom: 1px solid #7d7d7c;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
	background: #5e5e5e;
	background-image: -moz-linear-gradient(top, #5e5e5e 0%, #2a2a2a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #2a2a2a));
	background-image: -webkit-linear-gradient(top, #5e5e5e 0%, #2a2a2a 100%);
	background-image: -o-linear-gradient(top, #5e5e5e 0%, #2a2a2a 100%);
	background-image: -ms-linear-gradient(top, #5e5e5e 0%, #2a2a2a 100%);
	background-image: linear-gradient(to bottom, #5e5e5e 0%, #2a2a2a 100%);

	a.navbar-brand img {
		margin-top: -5px;
	}
	.navbar-version {
		color: #aaa;
	}
	.navbar-nav > li > a {
		color: #1aa7c7;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover,
	.navbar-nav > .active > a:focus,
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:hover,
	.navbar-nav > .open > a:focus {
		color: #fff;
	}
	.navbar-nav .dropdown-menu .dropdown-menu {
		position: relative;
		display: block;
		float: none;
		border: none;
		box-shadow: none;
		top: 0;
		font-size: $font-size-small;

		> li > a {
			padding-left: 30px;
		}
		.dropdown-menu > li > a {
			padding-left: 40px;
		}
		.dropdown-menu .dropdown-menu > li > a {
			padding-left: 50px;
		}
		.dropdown-menu .dropdown-menu .dropdown-menu > li > a {
			padding-left: 60px;
		}
	}
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #1aa7c7;
}

div.figure {
	margin: 0 0 10px;
}
div.sidebar {
	margin: 0 0 0.5em 1em;
	padding: 12px 12px 5px 12px;
	background-color: #f7f5fa;
	border: 0;
	border-radius: 5px;
	width: auto;
	max-width: 40%;
	float: right;
	border: none;

	&.row {
		padding: 15px 0;
	}
}
.well {
	padding: 15px;
	background-color: #f7f5fa;
	border: 0;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
